//STORE MAIN VARIBLES

$main-color: #7249bf;
$blue: #2701a6;
$purple: #98477f;
$yellow: #f1a246;
$span-grey: #a5a5a5;

//FONTS

$header-font: 'Oswald', sans-serif;
$para-font: 'Titillium Web', sans-serif;

//MARGINS AND PADDINGS

$standard: 1.25em;
$large: 2.2em;
$small: 0.7em;
$letter-space-standard: 1.5px;