* {
  margin: 0;
  padding: 0;
}

#hero {
  height: 100vh;
  background: url(../img/hero1280new.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#hero #hero-text {
  font-size: 1.46667em;
  text-transform: uppercase;
  padding-left: 6.6em;
}

#hero #hero-text span {
  font-family: "Titillium Web", sans-serif;
  color: #a5a5a5;
}

#hero #hero-text h1 {
  font-family: "Oswald", sans-serif;
  color: #7249bf;
}

#hero #hero-text p {
  text-transform: none;
  font-family: "Titillium Web", sans-serif;
}

#hero #hero-text a {
  text-decoration: none;
  color: #f1a246;
  font-size: 1em;
  font-family: "Titillium Web", sans-serif;
  text-transform: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#hero #hero-text a:hover {
  color: #ffc254;
}

#hero #hero-text button {
  margin-top: 2.2em;
  margin-bottom: 2.2em;
}

#hero #hero-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding-bottom: 2.2em;
}

#hero #hero-features .feature {
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  color: #fff;
}

#hero #hero-features .feature img {
  width: 64px;
}

.cta-btn {
  background-color: #f1a246;
  font-size: 1.2em;
  font-family: "Oswald", sans-serif;
  padding: 0 1.2em 0 1.2em;
  text-transform: uppercase;
  color: #fff;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.cta-btn:hover {
  background-color: #ffc254;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 1.25em;
}

nav img {
  width: 64px;
}

nav ul {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #a5a5a5;
  font-size: 1em;
  font-family: "Titillium Web", sans-serif;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

nav ul li a:hover {
  color: #7249bf;
}

nav ul li a:hover {
  color: #7249bf;
}

#currencies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2.2em;
  font-family: "Oswald", sans-serif;
  font-size: 1.25em;
  font-weight: lighter;
}

#currencies h2 {
  color: #7249bf;
  text-transform: uppercase;
}

#currencies p {
  letter-spacing: 1.5px;
}

#currencies .currency-list {
  margin-top: 2.2em;
}

#currencies .currency-list h3 {
  display: inline;
  margin: 2.2em;
  font-size: 2.2em;
  color: #98477f;
}

#offers-updates {
  background-color: #d7d7d7;
  padding: 2.2em;
  background: #2701a6;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 1, 166, 0.5)), color-stop(35%, #98477f), color-stop(80%, rgba(241, 72, 70, 0.5)));
  background: linear-gradient(90deg, rgba(39, 1, 166, 0.5) 0%, #98477f 35%, rgba(241, 72, 70, 0.5) 80%);
}

#offers-updates h2 {
  font-family: "Oswald", sans-serif;
  color: #fff;
  text-align: center;
  font-size: 2.2em;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

#offers-updates .offers-para {
  font-family: "Titillium Web", sans-serif;
  color: #fff;
  text-align: center;
  letter-spacing: 1.5px;
  margin: 1.25em;
}

#offers-updates .offers-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#offers-updates .offers-container .offers-box {
  margin: 1.25em;
  width: 300px;
  font-family: "Titillium Web", sans-serif;
  padding-bottom: 1.25em;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 5px #a5a5a5;
          box-shadow: 0px 2px 5px #a5a5a5;
}

#offers-updates .offers-container .offers-box img {
  width: 300px;
}

#offers-updates .offers-container .offers-box p {
  padding: 1.25em;
}

#offers-updates .offers-container .offers-box a {
  margin: 1.25em;
  text-decoration: none;
  color: #98477f;
  font-size: 1.25em;
  font-family: "Titillium Web", sans-serif;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#offers-updates .offers-container .offers-box a:hover {
  color: #945ff8;
}

#loan-calculator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2.2em;
}

#loan-calculator h2 {
  font-family: "Oswald", sans-serif;
  color: #7249bf;
  text-transform: uppercase;
  font-size: 2.2em;
  margin-bottom: 1.25em;
}

#loan-calculator p {
  color: #373737;
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 1.5px;
}

#loan-calculator #calculator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#loan-calculator #calculator .calculator-side {
  width: 450px;
}

#loan-calculator #calculator .calculator-side div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 4.4em;
}

#loan-calculator #calculator .calculator-side div p:last-of-type {
  font-size: 2.2em;
}

#loan-calculator #calculator .calculator-side [type="text"] {
  padding: 0.7em;
  font-size: 1.25em;
  font-family: "Titillium Web", sans-serif;
  display: block;
  margin: 2.2em auto;
}

#loan-calculator #calculator .calculator-side [type="range"] {
  display: block;
  margin: 0 0 2.2em 0;
  width: 400px;
}

#loan-calculator button {
  background-color: #7249bf;
  font-size: 2em;
  font-family: "Oswald", sans-serif;
  padding: 0 1.2em 0 1.2em;
  text-transform: uppercase;
  color: #fff;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  margin-top: 1.25em;
}

#loan-calculator button:hover {
  background-color: #8958e5;
}

#big-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/last-cta.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.25em;
  padding: 2.2em;
}

#big-cta h2 {
  font-family: "Oswald", sans-serif;
  color: #fff;
}

#big-cta p {
  font-family: "Titillium Web", sans-serif;
  color: #fff;
}

#big-cta button {
  margin-top: 1.25em;
  background-color: #f1a246;
  font-size: 1em;
  font-family: "Oswald", sans-serif;
  padding: 0 1.2em 0 1.2em;
  text-transform: uppercase;
  color: #fff;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#big-cta button:hover {
  background-color: #ffc254;
}

#big-cta form {
  padding: 2.2em;
  background-color: #fff;
  margin: 0.7em;
  font-family: "Titillium Web", sans-serif;
  color: #535353;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#big-cta form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#big-cta form div input {
  width: 250px;
  padding: 0.7em;
  margin: 0.7em;
  font-size: 0.7em;
}

footer {
  background-color: #a5a5a5;
  color: #fff;
  padding: 2.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer #footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0 auto;
}

footer #footer-container img {
  height: 96px;
}

footer #footer-container .footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 250px;
  margin-left: 1.25em;
}

footer #footer-container .footer-box h3 {
  font-family: "Oswald", sans-serif;
  letter-spacing: 1.5px;
}

footer #footer-container .footer-box a {
  text-decoration: none;
  color: #2701a6;
  font-size: 1em;
  font-family: "Titillium Web", sans-serif;
  text-transform: capitalise;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

footer #footer-container .footer-box a:hover {
  color: #4e02ff;
}

footer #footer-container .footer-box p {
  font-family: "Titillium Web", sans-serif;
  color: #2701a6;
}

#credit-card-modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  overflow: hidden;
}

.modal-content {
  margin: 5% auto;
  /* 15% from the top and centered */
  padding: 20px;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

.close {
  color: #98477f;
  float: right;
  padding: 5px;
  font-size: 52px;
  font-weight: bold;
  background-color: #f1a246;
  border-radius: 2px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75vw;
  margin: 0 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#selection .box {
  position: relative;
  top: -75px;
  width: 300px;
  background: #fff;
  padding: 3rem;
  -webkit-box-shadow: 0px 0px 15px grey;
          box-shadow: 0px 0px 15px grey;
  border-radius: 2.5px;
  color: #7249bf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#selection .box p {
  font-family: "Titillium Web", sans-serif;
  color: #535353;
}

#selection .box ul {
  list-style: none;
}

#selection .box ul li {
  padding: 10px;
  color: #535353;
  font-family: "Titillium Web", sans-serif;
}

#selection .box:first-child {
  border-top: 10px solid #f1a246;
}

#selection .box:first-child h3 {
  color: #f1a246;
  font-family: "Oswald", sans-serif;
}

#selection .box:first-child li::before {
  content: "\2022";
  color: #f1a246;
  display: inline-block;
  width: 2em;
  margin-left: -1.2em;
}

#selection .box:first-child button {
  background-color: #f1a246;
  font-size: 1.25em;
  font-family: "Oswald", sans-serif;
  padding: 0 1.2em 0 1.2em;
  text-transform: uppercase;
  color: #fff;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#selection .box:first-child button:hover {
  background-color: #ffc254;
}

#selection .box:nth-child(2) {
  border-top: 10px solid #2701a6;
}

#selection .box:nth-child(2) h3 {
  color: #2701a6;
  font-family: "Oswald", sans-serif;
}

#selection .box:nth-child(2) li::before {
  content: "\2022";
  color: #2701a6;
  display: inline-block;
  width: 2em;
  margin-left: -1.2em;
}

#selection .box:nth-child(2) button {
  background-color: #2701a6;
  font-size: 1.25em;
  font-family: "Oswald", sans-serif;
  padding: 0 1.2em 0 1.2em;
  text-transform: uppercase;
  color: #fff;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#selection .box:nth-child(2) button:hover {
  background-color: #2f01c7;
}

#selection .box:nth-child(3) {
  border-top: 10px solid #98477f;
}

#selection .box:nth-child(3) h3 {
  font-family: "Oswald", sans-serif;
  color: #98477f;
}

#selection .box:nth-child(3) li::before {
  content: "\2022";
  color: #98477f;
  display: inline-block;
  width: 1em;
  margin-left: -1.2em;
}

#selection .box:nth-child(3) button {
  background-color: #98477f;
  font-size: 1.25em;
  font-family: "Oswald", sans-serif;
  padding: 0 1.2em 0 1.2em;
  text-transform: uppercase;
  color: #fff;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#selection .box:nth-child(3) button:hover {
  background-color: #b65598;
}

#selection .box .price {
  font-family: "Oswald", sans-serif;
  font-size: 2em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  justify-items: end;
  margin: 1em 0em 1em 0em;
}

#selection .box .price .pound {
  font-size: 0.5em;
  position: relative;
  top: -10px;
  left: 8px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin: 0 auto;
}

.header img {
  width: 164px;
}

.header h1 {
  font-family: "Oswald", sans-serif;
  color: #f1a246;
  margin: 0.7em;
  font-size: 2.2em;
}

.header p {
  font-family: "Titillium Web", sans-serif;
  color: #535353;
  letter-spacing: 1.5px;
  margin-bottom: 1.25em;
}

#customer-service #faqs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2.2em;
}

#customer-service #faqs .question-container {
  border: 1px solid #535353;
  margin: 0.7em;
  width: 450px;
  text-align: center;
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  /* Style the collapsible content. Note: hidden by default */
}

#customer-service #faqs .question-container p {
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 1.5px;
  padding: 1.25em;
}

#customer-service #faqs .question-container .question-btn {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

#customer-service #faqs .question-container .active,
#customer-service #faqs .question-container .question-btn:hover {
  background-color: #ccc;
}

#customer-service #faqs .question-container .answer {
  display: none;
  overflow: hidden;
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

#customer-service #faqs .question-container .question-btn:after {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

#customer-service #faqs .question-container .active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}

#cards {
  width: 960px;
  margin: 0 auto;
}

#cards .about-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 1px solid #a5a5a5;
}

#cards .about-card:last-of-type {
  border-bottom: none;
}

#cards .about-card img {
  max-width: 30%;
}

#cards .about-card div {
  width: 300px;
}

#cards .about-card div h2 {
  font-family: "Oswald", sans-serif;
  font-size: 2.2em;
  color: #7249bf;
}

#cards .about-card div p {
  font-family: "Titillium Web", sans-serif;
  color: #535353;
  letter-spacing: 1.5px;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 16px 16px;
  position: relative;
  z-index: 1;
  bottom: 125%;
  font-family: "Titillium Web", sans-serif;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 1000px) {
  nav .cta-btn {
    display: none;
  }
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  nav ul li {
    padding: 0.5em;
  }
  nav ul li a {
    color: #535353;
    font-size: 1.3em;
  }
  #hero-features {
    margin: 2.2em auto 0 auto;
    padding: 2.2em;
    background-color: #7249bf;
  }
  #hero-features .feature {
    display: block;
  }
  #currencies {
    margin-top: 7em;
  }
  #offers-updates .offers-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #loan-calculator {
    text-align: center;
    font-size: 1em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #loan-calculator #calculator .calculator-side {
    width: auto;
  }
  #loan-calculator #calculator .calculator-side div {
    margin: 0;
  }
  #loan-calculator #calculator .calculator-side [type="range"] {
    width: 200px;
  }
  footer #footer-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer #footer-container img {
    display: none;
  }
  footer #footer-container .footer-box {
    display: block;
    width: 300px;
  }
  #cards {
    width: 100%;
  }
  #cards .about-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #cards .about-card div {
    margin: 2.2em;
  }
  #cards .about-card:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 760px) {
  #hero-features {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 100%;
  }
  #hero-features .feature {
    width: 80%;
  }
  #currencies {
    margin-top: 25em;
    text-align: center;
  }
  #loan-calculator #calculator {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #loan-calculator #calculator .calculator-side div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer #footer-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=main.css.map */