* {
  margin: 0;
  padding: 0;
}

#hero {
  height: 100vh;
  background: url(../img/hero1280new.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#hero nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 1.25em;
}

#hero nav img {
  width: 64px;
}

#hero nav ul {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hero nav ul li {
  list-style: none;
}

#hero nav ul li a {
  text-decoration: none;
  color: #a5a5a5;
  font-size: 1em;
  font-family: "Titillium Web", sans-serif;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#hero nav ul li a:hover {
  color: #7249bf;
}

#hero nav ul li a:hover {
  color: #7249bf;
}

#hero #hero-text {
  font-size: 1.46667em;
  text-transform: uppercase;
  padding-left: 6.6em;
}

#hero #hero-text span {
  font-family: "Titillium Web", sans-serif;
  color: #a5a5a5;
}

#hero #hero-text h1 {
  font-family: "Oswald", sans-serif;
  color: #7249bf;
}

#hero #hero-text p {
  text-transform: none;
  font-family: "Titillium Web", sans-serif;
}

#hero #hero-text a {
  text-decoration: none;
  color: #f1a246;
  font-size: 1em;
  font-family: "Titillium Web", sans-serif;
  text-transform: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#hero #hero-text a:hover {
  color: #ffc254;
}

#hero #hero-text button {
  margin-top: 2.2em;
}

#hero #hero-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 2.2em;
}

#hero #hero-features .feature {
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  color: #fff;
}

#hero #hero-features .feature img {
  width: 64px;
}

#hero .cta-btn {
  background-color: #98477f;
  font-size: 1em;
  font-family: "Oswald", sans-serif;
  padding: 0 1.2em 0 1.2em;
  text-transform: uppercase;
  color: #fff;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#hero .cta-btn:hover {
  background-color: #b65598;
}

#currencies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2.2em;
  font-family: "Oswald", sans-serif;
  font-size: 1.25em;
  font-weight: lighter;
}

#currencies h2 {
  color: #7249bf;
  text-transform: uppercase;
}

#currencies p {
  letter-spacing: 1.5px;
}

#currencies .currency-list {
  margin-top: 2.2em;
}

#currencies .currency-list h3 {
  display: inline;
  margin: 2.2em;
  font-size: 2.2em;
  color: #98477f;
}

#offers-updates {
  background-color: #d7d7d7;
  padding: 2.2em;
  background: #2701a6;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 1, 166, 0.5)), color-stop(35%, #98477f), color-stop(80%, rgba(241, 72, 70, 0.5)));
  background: linear-gradient(90deg, rgba(39, 1, 166, 0.5) 0%, #98477f 35%, rgba(241, 72, 70, 0.5) 80%);
}

#offers-updates h2 {
  font-family: "Oswald", sans-serif;
  color: #fff;
  text-align: center;
  font-size: 2.2em;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

#offers-updates .offers-para {
  font-family: "Titillium Web", sans-serif;
  color: #fff;
  text-align: center;
  letter-spacing: 1.5px;
  margin: 1.25em;
}

#offers-updates .offers-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#offers-updates .offers-container .offers-box {
  margin: 1.25em;
  width: 300px;
  font-family: "Titillium Web", sans-serif;
  padding-bottom: 1.25em;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 5px #a5a5a5;
          box-shadow: 0px 2px 5px #a5a5a5;
}

#offers-updates .offers-container .offers-box img {
  width: 300px;
}

#offers-updates .offers-container .offers-box p {
  padding: 1.25em;
}

#offers-updates .offers-container .offers-box a {
  margin: 1.25em;
  text-decoration: none;
  color: #98477f;
  font-size: 1.25em;
  font-family: "Titillium Web", sans-serif;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#offers-updates .offers-container .offers-box a:hover {
  color: #945ff8;
}

#loan-calculator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2.2em;
}

#last-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/last-cta.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 2.2em;
  padding: 2.2em;
}

#last-cta h2 {
  font-family: "Oswald", sans-serif;
  color: #fff;
}

#last-cta p {
  font-family: "Titillium Web", sans-serif;
  color: #fff;
}

#last-cta button {
  margin-top: 1.25em;
  background-color: #7249bf;
  font-size: 1em;
  font-family: "Oswald", sans-serif;
  padding: 0 1.2em 0 1.2em;
  text-transform: uppercase;
  color: #fff;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#last-cta button:hover {
  background-color: #8958e5;
}
/*# sourceMappingURL=main.css.map */