@import "variables";
@import "mixins";

* {
    margin: 0;
    padding: 0;
}

#hero {
    height: 100vh;
    background: url(../img/hero1280new.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    //NAV
    #hero-text {
        font-size: $large/1.5;
        text-transform: uppercase;
        padding-left: $large*3;

        span {
            font-family: $para-font;
            color: $span-grey;
        }

        h1 {
            font-family: $header-font;
            color: $main-color;
        }

        p {
            text-transform: none;
            font-family: $para-font;
        }

        a {
            @include anchor-tag($yellow, 1em, none, $yellow*1.2)
        }

        button {
            margin-top: $large;
        }

    }

    //HERO-TEXT

    #hero-features {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;

        padding-bottom: $large;

        .feature {
            @include feature-cards();
            color: #fff;

            img {
                width: 64px;

            }
        }
    }

    .cta-btn {
        @include cta-btn($yellow, 1.2em);
    }
}

nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;

    padding: $standard;

    img {
        width: 64px;
    }

    ul {
        width: 40%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        li {
            list-style: none;

            a {
                @include anchor-tag($span-grey, 1em, uppercase, $main-color);


                &:hover {
                    color: $main-color;
                }
            }
        }
    }
}

//#HERO ENDS HERE

#currencies {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $large;

    font-family: $header-font;
    font-size: $standard;
    font-weight: lighter;


    h2 {
        color: $main-color;
        text-transform: uppercase;
    }

    p {
        letter-spacing: $letter-space-standard;
        ;
    }

    .currency-list {
        margin-top: $large;

        h3 {
            display: inline;
            margin: $large;
            font-size: $large;
            color: $purple
        }
    }
}

//#CURRENCIES
#offers-updates {
    background-color: $span-grey*1.3;
    padding: $large;
    background: rgb(39, 1, 166);
    background: linear-gradient(90deg, rgba(39, 1, 166, 0.5) 0%, rgba(152, 71, 127, 10.5) 35%, rgba(241, 72, 70, 0.5) 80%);

    h2 {
        font-family: $header-font;
        color: #fff;
        text-align: center;
        font-size: $large;
        letter-spacing: $letter-space-standard;
        text-transform: uppercase;
    }

    .offers-para {
        font-family: $para-font;
        color: #fff;
        text-align: center;
        letter-spacing: $letter-space-standard;
        margin: $standard;
    }

    .offers-container {
        display: flex;
        justify-content: space-around;

        .offers-box {
            margin: $standard;
            width: 300px;
            //border: 1px solid $span-grey;
            font-family: $para-font;
            padding-bottom: $standard;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0px 2px 5px $span-grey;

            img {
                width: 300px;
            }

            p {
                padding: $standard;
            }

            a {
                margin: $standard;
                @include anchor-tag($purple, $standard, uppercase, $main-color*1.3);
            }
        }
    }
}

//#OFFERS AND UPDATES

#loan-calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $large;

    h2 {
        font-family: $header-font;
        color: $main-color;
        text-transform: uppercase;
        font-size: $large;
    }

    p {
        color: $span-grey/3;
        font-family: $para-font;
        letter-spacing: $letter-space-standard;
    }

    #calculator {
        display: flex;


        .calculator-side {
            width: 450px;

            div {
                display: flex;
                flex-direction: column;
                align-content: center;
                margin: $large*2;

                p:last-of-type {
                    font-size: $large;
                }
            }

            [type="text"] {
                padding: $small;
                font-size: $standard;
                font-family: $para-font;
                display: block;
                margin: $large auto;
            }

            [type="range"] {
                display: block;
                margin: 0 0 $large 0;
                width: 400px;

            }
        }


    }

    button {
        @include cta-btn($main-color, 2em);
    }
}

//#LOAN-CALCULATOR


#last-cta {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: url(../img/last-cta.png);
    background-repeat: no-repeat;
    background-size: cover;

    font-size: $large;

    padding: $large;

    h2 {
        font-family: $header-font;
        color: #fff;

    }

    p {
        font-family: $para-font;
        color: #fff;
    }

    button {
        margin-top: $standard;
        @include cta-btn($yellow, 1em);
    }
}

//#LAST-CTA

footer {
    background-color: $span-grey;
    color: #fff;
    padding: $large;

    display: flex;

    img {
        width: 96px;
    }

    .footer-box {
        display: flex;
        flex-direction: column;
        width: 250px;

        margin-left: $standard;

        h3 {
            font-family: $header-font;
            letter-spacing: $letter-space-standard;
        }

        a {
            @include anchor-tag($blue, 1em, capitalise, $blue*2);
        }

        p {
            font-family: $para-font;
            color: $blue;
        }
    }
}

//FOOTER