@import "variables";
@import "mixins";

* {
    margin: 0;
    padding: 0;
}

#hero {
    height: 100vh;
    background: url(../img/hero1280new.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    //NAV
    #hero-text {
        font-size: $large/1.5;
        text-transform: uppercase;
        padding-left: $large*3;

        span {
            font-family: $para-font;
            color: $span-grey;
        }

        h1 {
            font-family: $header-font;
            color: $main-color;
        }

        p {
            text-transform: none;
            font-family: $para-font;
        }

        a {
            @include anchor-tag($yellow, 1em, none, $yellow*1.2)
        }

        button {
            margin-top: $large;
        }

    }

    //HERO-TEXT

    #hero-features {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;

        padding-bottom: $large;

        .feature {
            @include feature-cards();
            color: #fff;

            img {
                width: 64px;

            }
        }
    }


}

.cta-btn {
    @include cta-btn($yellow, 1.2em);
}

nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;

    padding: $standard;

    img {
        width: 64px;
    }

    ul {
        width: 40%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        li {
            list-style: none;

            a {
                @include anchor-tag($span-grey, 1em, uppercase, $main-color);


                &:hover {
                    color: $main-color;
                }
            }
        }
    }
}

//#HERO ENDS HERE

#currencies {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $large;

    font-family: $header-font;
    font-size: $standard;
    font-weight: lighter;


    h2 {
        color: $main-color;
        text-transform: uppercase;
    }

    p {
        letter-spacing: $letter-space-standard;
        ;
    }

    .currency-list {
        margin-top: $large;

        h3 {
            display: inline;
            margin: $large;
            font-size: $large;
            color: $purple
        }
    }
}

//#CURRENCIES
#offers-updates {
    background-color: $span-grey*1.3;
    padding: $large;
    background: rgb(39, 1, 166);
    background: linear-gradient(90deg, rgba(39, 1, 166, 0.5) 0%, rgba(152, 71, 127, 10.5) 35%, rgba(241, 72, 70, 0.5) 80%);

    h2 {
        font-family: $header-font;
        color: #fff;
        text-align: center;
        font-size: $large;
        letter-spacing: $letter-space-standard;
        text-transform: uppercase;
    }

    .offers-para {
        font-family: $para-font;
        color: #fff;
        text-align: center;
        letter-spacing: $letter-space-standard;
        margin: $standard;
    }

    .offers-container {
        display: flex;
        justify-content: space-around;

        .offers-box {
            margin: $standard;
            width: 300px;
            //border: 1px solid $span-grey;
            font-family: $para-font;
            padding-bottom: $standard;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0px 2px 5px $span-grey;

            img {
                width: 300px;
            }

            p {
                padding: $standard;
            }

            a {
                margin: $standard;
                @include anchor-tag($purple, $standard, uppercase, $main-color*1.3);
            }
        }
    }
}

//#OFFERS AND UPDATES

#loan-calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $large;

    h2 {
        font-family: $header-font;
        color: $main-color;
        text-transform: uppercase;
        font-size: $large;
        margin-bottom: $standard;
    }

    p {
        color: $span-grey/3;
        font-family: $para-font;
        letter-spacing: $letter-space-standard;

    }

    #calculator {
        display: flex;


        .calculator-side {
            width: 450px;

            div {
                display: flex;
                flex-direction: column;
                align-content: center;
                margin: $large*2;

                p:last-of-type {
                    font-size: $large;
                }
            }

            [type="text"] {
                padding: $small;
                font-size: $standard;
                font-family: $para-font;
                display: block;
                margin: $large auto;
            }

            [type="range"] {
                display: block;
                margin: 0 0 $large 0;
                width: 400px;

            }
        }


    }

    button {
        @include cta-btn($main-color, 2em);
        margin-top: $standard;
    }
}

//#LOAN-CALCULATOR


#big-cta {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: url(../img/last-cta.png);
    background-repeat: no-repeat;
    background-size: cover;

    font-size: $standard;

    padding: $large;

    h2 {
        font-family: $header-font;
        color: #fff;

    }

    p {
        font-family: $para-font;
        color: #fff;
    }

    button {
        margin-top: $standard;
        @include cta-btn($yellow, 1em);
    }

    form {
        padding: $large;
        background-color: #fff;
        margin: $small;
        font-family: $para-font;
        color: $span-grey/2;

        display: flex;
        flex-direction: column;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;

            input {
                width: 250px;
                padding: $small;
                margin: $small;
                font-size: $small;

            }
        }

    }
}

//#BIG-CTA

footer {
    background-color: $span-grey;
    color: #fff;
    padding: $large;

    display: flex;



    #footer-container {
        display: flex;
        width: 80%;
        margin: 0 auto;

        img {
            height: 96px;
        }

        .footer-box {
            display: flex;
            flex-direction: column;
            width: 250px;

            margin-left: $standard;

            h3 {
                font-family: $header-font;
                letter-spacing: $letter-space-standard;
            }

            a {
                @include anchor-tag($blue, 1em, capitalise, $blue*2);
            }

            p {
                font-family: $para-font;
                color: $blue;
            }
        }
    }

}

//FOOTER

#credit-card-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    overflow: hidden;
}

.modal-content {
    //background-color: #fefefe;
    margin: 5% auto;
    /* 15% from the top and centered */
    padding: 20px;
    //border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

.close {
    color: $purple;
    float: right;
    padding: 5px;
    font-size: 52px;
    font-weight: bold;
    background-color: $yellow;
    border-radius: 2px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#selection {
    display: flex;
    width: 75vw;
    margin: 0 auto;
    justify-content: space-around;

    .box {
        position: relative;
        top: -75px;
        width: 300px;
        background: #fff;
        padding: 3rem;
        box-shadow: 0px 0px 15px grey;
        border-radius: 2.5px;

        color: $main-color;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        p {
            font-family: $para-font;
            color: $span-grey/2;
        }

        ul {
            list-style: none;

            li {
                padding: 10px;
                color: $span-grey/2;
                font-family: $para-font;
            }
        }

        &:first-child {
            border-top: 10px solid $yellow;

            h3 {
                color: $yellow;
                font-family: $header-font;
            }

            li::before {
                content: "\2022";
                color: $yellow;
                display: inline-block;
                width: 2em;
                margin-left: -1.2em;
            }

            button {
                @include cta-btn($yellow, $standard);
            }
        }

        &:nth-child(2) {
            border-top: 10px solid $blue;

            h3 {
                color: $blue;
                font-family: $header-font;
            }

            li::before {
                content: "\2022";
                color: $blue;
                display: inline-block;
                width: 2em;
                margin-left: -1.2em;
            }

            button {
                @include cta-btn($blue, $standard);
            }
        }

        &:nth-child(3) {
            border-top: 10px solid $purple;

            h3 {
                font-family: $header-font;
                color: $purple;
            }

            li::before {
                content: "\2022";
                color: $purple;
                display: inline-block;
                width: 1em;
                margin-left: -1.2em;
            }

            button {
                @include cta-btn($purple, $standard);
            }
        }

        .price {
            font-family: $header-font;
            font-size: 2em;
            align-self: center;
            justify-items: end;
            margin: 1em 0em 1em 0em;

            .pound {
                font-size: 0.5em;
                position: relative;
                top: -10px;
                left: 8px;
            }
        }

    }
}

// MODAL FOR CREDIT CARDS 

//CUSTOMER SERVICE PAGE

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 auto;

    img {
        width: 164px;
    }

    h1 {
        font-family: $header-font;
        color: $yellow;
        margin: $small;
        font-size: $large;
    }

    p {
        font-family: $para-font;
        color: $span-grey/2;
        letter-spacing: $letter-space-standard;
        margin-bottom: $standard;
    }
}

#customer-service {
    #faqs {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: $large;



        .question-container {
            border: 1px solid $span-grey/2;
            margin: $small;
            width: 450px;
            text-align: center;


            p {
                font-family: $para-font;
                letter-spacing: $letter-space-standard;
                padding: $standard;
            }

            .question-btn {
                background-color: #eee;
                color: #444;
                cursor: pointer;
                padding: 18px;
                width: 100%;
                border: none;
                text-align: left;
                outline: none;
                font-size: 15px;
            }

            /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
            .active,
            .question-btn:hover {
                background-color: #ccc;
            }

            /* Style the collapsible content. Note: hidden by default */
            .answer {
                display: none;
                overflow: hidden;
                padding: 0 18px;
                background-color: white;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.2s ease-out;
            }

            .question-btn:after {
                content: '\02795';
                /* Unicode character for "plus" sign (+) */
                font-size: 13px;
                color: white;
                float: right;
                margin-left: 5px;
            }

            .active:after {
                content: "\2796";
                /* Unicode character for "minus" sign (-) */
            }

        }


    }
}

//CUSTOMER SERVICE SECTION ENDS HERE

//CARDS SECTION
#cards {
    width: 960px;
    margin: 0 auto;

    .about-card {
        display: flex;
        align-items: center;
        justify-content: space-around;

        border-bottom: 1px solid $span-grey;

        &:last-of-type {
            border-bottom: none;
        }

        img {
            max-width: 30%;
        }

        div {
            width: 300px;

            h2 {
                font-family: $header-font;
                font-size: $large;
                color: $main-color;

            }

            p {
                font-family: $para-font;
                color: $span-grey/2;
                letter-spacing: $letter-space-standard;
            }
        }
    }
}

//Live chat pop up 
/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 16px 16px;
    position: relative;
    z-index: 1;
    bottom: 125%;
    //left: 50%;
    //margin-left: -7vw;
    font-family: $para-font;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}